*{
  margin:0;
  padding:0;
}
header{
  background-color: black;
  width:100%;
}

li{
  display:inline-block;
  padding:18px 8px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color:white;
}

.background{
  background-color: #f1f1f1 ;
}

h1{
  column-span:all;
  padding:15px 7px;
}

p{
  column-width:300px;
  column-rule: 2px solid black;
  column-gap: 15px;
  column-fill: balance;
  text-align:justify;
  padding:0px 7px;
}

br{
  column-span:all;
}

footer.footer{
  background-color: black;
  width:100%;
  font-size: 12px;
  text-align:center;
  color:white;
  margin-top:20px;
  padding-bottom: 20px;
  float:bottom;

}
